# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Private Information
.private
.private-gitconfig
.netrc
.npmrc

# Ignore backups
/backups

# obsidian
settings/obsidian/default/workspace.json
settings/obsidian/default/plugins/*/main.js
settings/obsidian/default/plugins/*/styles.css
settings/obsidian/default/plugins/*/*.sh

# Markdown notes (keep only README and repo-level docs)
*.md
!README.md
!settings/**/*/*.md

# llm

.claude